<div class="box">
    <h1>Gracias por su compra!</h1>
    <a href="/current">Back</a>
    <p>Codigo de compra: {{ticket.code}}</p>
    <p>Monto total: {{ticket.amount}}</p>
</div>

<style>
    .products-box {
        display: flex;
    }
</style>
