<div class="box">
    <h1>Hola Usuario!</h1>
    <hr>
    <div class="box">
        <p>Nombre: {{user.firstName}}</p>
        <p>Apellido: {{user.lastName}}</p>
        <p>Email: {{user.email}}</p>
        <p>Age: {{user.age}}</p>
    </div>
</div>